doctype html
html(lang="en")
    head
        title Modiv HubSpot Integration
        style 
            include ./modivlist.css
    body 
        div(class='body')
            div(class='body-image')
                img(src='/assets/images/Modiv.svg' alt='Modiv' class='img-modiv')
                img(src='/assets/images/exchange.svg' alt='exchange' class='img-exchange')
                img(src='/assets/images/HubSpot.jpeg' alt='HubSpot' class='img-hubspot')

            div(class='body-modiv-title') Modiv Contact List:
            div(class='body-modiv-data')
                table
                    tr 
                        th User ID
                        th Email
                        th First Name
                        th Last Name
                        th Account ID
                        th Reit ID
                        th Account Type
                        th
                    each contact in contacts 
                        tr
                            td(class='link') #[a(href=`/modiv-contacts/${contact.UserId}`) #{contact.UserId}]
                            td #{contact.Email}
                            td #{contact.FirstName}
                            td #{contact.LastName}
                            td #{contact.AccountId}
                            td #{contact.InvestmentReitId}
                            td #{contact.AccountTypeName}
                            td(class='action')
                                form(action='/sync-contact', method='POST')
                                    input(type='hidden' name='firstname' value=contact.FirstName)
                                    input(type='hidden' name='lastname' value=contact.LastName)
                                    input(type='hidden' name='email' value=contact.Email)
                                    input(type='hidden' name='phone' value=contact.Phone)
                                    input(type='submit', value='Sync', class='sync')

            div(class='body-button')
                div(class='body-button-back')
                    a(href=`/` class='body-button-back-link') Home
                div(class='body-button-logout')
                    a(href=`/logout` class='body-button-signout-link') Logout