doctype html
html(lang="en")
    head
        title Modiv HubSpot Integration
        style 
            include ./modivdetail.css
    body 
        div(class='body')
            div(class='body-image')
                img(src='/assets/images/Modiv.svg' alt='Modiv' class='img-modiv')
                img(src='/assets/images/exchange.svg' alt='exchange' class='img-exchange')
                img(src='/assets/images/HubSpot.jpeg' alt='HubSpot' class='img-hubspot')

            div(class='body-modiv-title') Modiv Contact Detail:
            div(class='body-modiv-data')
                table
                    tr 
                        td(class='title') Personal Details
                    tr 
                        td User ID
                        td #{contact.UserId}
                    tr 
                        td First Name
                        td #{contact.FirstName}
                    tr 
                        td Last Name
                        td #{contact.LastName}
                    tr 
                        td Email
                        td #{contact.Email}
                    tr 
                        td Phone Number
                        td #{contact.Phone}
                    tr 
                        td Date of Birth
                        td #{contact.DateOfBirth}
                    tr 
                        td Citizenships
                        td #{contact.CitizenshipType}
                    tr 
                        td Marital Status
                        td #{contact.MaritalStatus}
                    tr 
                        td Profession/Occupation
                        td #{contact.Occupation}
                    tr 
                        td Are you registered or licensed with FINRA?
                        td #{contact.BrokerDealerAssociation}
                    tr 
                        td Do you hold a series 7, series 65 or series 82 license?
                        td #{contact.HasInvestorLicense}
                    tr 
                        td(class='title') Resident Address
                    tr 
                        td Street
                        td #{contact.ResidentAddressStreet}
                    tr 
                        td City
                        td #{contact.ResidentAddressCity}
                    tr 
                        td ZIP
                        td #{contact.ResidentAddressZip}
                    tr 
                        td(class='title') Tax Detail
                    tr 
                        td Subject to Backup Tax Witholding
                        td #{contact.BackupWithHolding}
                    tr 
                        td Secondary Email
                        td #{contact.SecondaryEmail}

            div(class='body-button')
                div(class='body-button-back')
                    a(href=`/modiv-contacts` class='body-button-back-link') Back
                div(class='body-button-logout')
                    a(href=`/logout` class='body-button-signout-link') Logout