doctype html
html(lang="en")
    head
        title Modiv HubSpot Integration
        style 
            include ./modivdetail.css
    body 
        div(class='body')
            div(class='body-image')
                img(src='/assets/images/Modiv.svg' alt='Modiv' class='img-modiv')
                img(src='/assets/images/exchange.svg' alt='exchange' class='img-exchange')
                img(src='/assets/images/HubSpot.jpeg' alt='HubSpot' class='img-hubspot')

            div(class='body-modiv-title') Modiv Contact Detail:
            div(class='body-modiv-data')
                table
                    tr 
                        td(class='title') Personal Details
                    tr 
                        td User ID
                        td #{contact.UserId}
                    tr 
                        td First Name
                        td #{contact.FirstName}
                    tr 
                        td Last Name
                        td #{contact.LastName}
                    tr 
                        td Email
                        td #{contact.Email}
                    tr 
                        td Phone Number
                        td #{contact.Phone}
                    tr 
                        td Date of Birth
                        td #{contact.DateOfBirth}
                    tr 
                        td Citizenships
                        td #{contact.CitizenshipType}
                    tr 
                        td Marital Status
                        td #{contact.MaritalStatus}
                    tr 
                        td Profession/Occupation
                        td #{contact.Occupation}
                    tr 
                        td Are you registered or licensed with FINRA?
                        td #{contact.BrokerDealerAssociation}
                    tr 
                        td Do you hold a series 7, series 65 or series 82 license?
                        td #{contact.HasInvestorLicense}
                    tr 
                        td(class='title') Resident Address
                    tr 
                        td Street
                        td #{contact.ResidentAddressStreet}
                    tr 
                        td City
                        td #{contact.ResidentAddressCity}
                    tr 
                        td Country
                        td #{contact.ResidentAddressCountryName}
                    tr 
                        td State
                        td #{contact.ResidentAddressStateAbbr}
                    tr 
                        td Zip Code
                        td #{contact.ResidentAddressZip}
                    tr 
                        td(class='title') Tax Detail
                    tr 
                        td Subject to Backup Tax Witholding
                        td #{contact.BackupWithHolding}
                    tr 
                        td(class='title') Contact Information
                    tr 
                        td Phone Number
                        td #{contact.Phone}
                    tr 
                        td Secondary Email
                        td #{contact.SecondaryEmail}
                    tr 
                        td(class='title') Employer Details
                    tr 
                        td Employee Status
                        td #{contact.EmployeeStatus}
                    tr 
                        td Employer Name
                        td #{contact.EmployerName}
                    tr 
                        td Street
                        td #{contact.EmployerAddressStreet}
                    tr 
                        td City
                        td #{contact.EmployerAddressCity}
                    tr 
                        td Country
                        td #{contact.EmployerAddressCountryName}
                    tr 
                        td State
                        td #{contact.EmployerAddressStateAbbr}
                    tr 
                        td Zip Code
                        td #{contact.EmployerAddressZip}
                    tr 
                        td The investor has an annual gross income in 2020 of
                        td #{contact.AnnualInformation2020}
                    tr 
                        td The investor has an annual gross income in 2019 of
                        td #{contact.AnnualInformation2019}
                    tr 
                        td(class='title') Financial Questionnaire
                    tr 
                        td Excluding primary residence, the Investor’s household net worth is:
                        td #{contact.Question2}
                    tr 
                        td What percentage of your net worth is invested in illiquid assets? Types of illiquid assets include, but are not limited to, penny stocks, ownership interest in private companies, real estate other than your home, art, antiques, collectibles, etc.:
                        td #{contact.Question3}
                    tr 
                        td What percentage of your net worth is invested in liquid assets? Types of liquid assets include, but are not limited to, cash, money-market funds, bonds, US Treasuries, ETFs, mutual funds, publicly traded REITs, etc.:
                        td #{contact.Question4}
                    tr 
                        td How would you describe your knowledge of investments?
                        td #{contact.Question5Text}
                    tr 
                        td How would you describe your investment objective?
                        td #{contact.Question6Text}
                    tr 
                        td When do you anticipate needing liquidity from your investment?
                        td #{contact.Question7Text}
                    tr 
                        td On a scale of 1 to 5, how would you rate your risk tolerance?
                        td #{contact.Question8Text}
                    tr 
                        td Do you believe you have sufficient knowledge and experience in financial and business affairs to evaluate the merits and risks of an investment in our company?
                        td #{contact.Question13Text}
                    tr 
                        td(class='title') Accreditation Questionnaire
                    tr 
                        td Accreditation Status
                        td #{contact.AccreditationStatusText}
                    tr 
                        td How would you like to invest?
                        td #{contact.AccreditationQuestion1Text}
                    tr 
                        td Does your individual income exceed $200,000 in each of the two last years, and do you have a reasonable expectation to achieve the same income level in the current year?
                        td #{contact.AccreditationQuestion2Text}
                    tr 
                        td Are you married (or  otherwise in a relationship with someone that would constitute a "spousal equivalent")?
                        td #{contact.AccreditationQuestion3Text}
                    tr 
                        td Together with your spouse or spousal equivalent, does your joint income exceed $300,000 in each of the two last years, and do you have a reasonable expectation to achieve the same income level in the current year?
                        td #{contact.AccreditationQuestion4Text}
                    tr 
                        td Does your household net worth exceed $1 million, excluding the value of your primary residence? <br> Hint: Consider savings, checking, investing, and retirement accounts, other private equity investments, as well as  any other real property, such as a vacation home or rental properties.  
                        td #{contact.AccreditationQuestion5Text}
                    tr 
                        td Do you have any of the following professional certifications as administered by FINRA?
                            <ul>
                                <li>Licensed General Securities Representative (Series 7)</li>
                                <li>Licensed Investment Adviser Representative (Series 65)</li>
                                <li>Licensed Private Securities Offerings Representative (Series 82)</li>
                            </ul>
                        td #{contact.AccreditationQuestion6Text}
                    tr 
                        td Was your business entity formed for the specific purpose of acquiring a particular investment offered by Modiv?
                        td #{contact.AccreditationQuestion7Text}
                    tr 
                        td Does your business entity possess qualified investments in excess of $5 million?
                        td #{contact.AccreditationQuestion8Text}
                    tr 
                        td Are all equity owners of your business entity accredited individual investors?
                            <br><br> Note: Generally, an individual investor qualifies as accredited by meeting any of the following criteria:
                            <ul>
                                <li>Household net worth exceeds $1 million (excluding the value of a primary residence); </li>
                                <li>Individual income regularly exceeds $200,000; </li>
                                <li>Joint income (combined with spouse or spousal equivalent) regularly exceeds  $300,000; OR </li>
                                <li>Holder in good standing of the Series 7, Series 65, or Series 82 licenses </li>
                            </ul>
                        td #{contact.AccreditationQuestion9Text}
                    tr 
                        td Was your trust formed for the specific purpose of acquiring a particular investment offered by Modiv?
                        td #{contact.AccreditationQuestion10Text}
                    tr 
                        td Does your trust possess qualified investments in excess of $5 million?
                        td #{contact.AccreditationQuestion11Text}
                    tr 
                        td Is your trust directed by a sophisticated person?
                           <br> Note that a "sophisticated" person must have sufficient  knowledge and experience in financial and business matters to make them capable of evaluating the merits and risks of the prospective investment.
                        td #{contact.AccreditationQuestion12Text}
                    tr 
                        td Does your trust utilize a bank trustee?
                        td #{contact.AccreditationQuestion13Text}
                    tr 
                        td Is your trust revocable?
                        td #{contact.AccreditationQuestion14Text}
                    tr 
                        td Are all the grantors of your trust accredited  individual investors?
                            <br><br> Note: Generally, an individual investor qualifies as accredited by meeting any of the following criteria: 
                            <ul>
                                <li>Household net worth exceeds $1 million (excluding the value of a primary residence)</li>
                                <li>Individual income regularly exceeds $200,000;</li>
                                <li>Joint income (combined with spouse or spousal equivalent) regularly exceeds  $300,000; OR</li>
                                <li>Holder in good standing of the Series 7, Series 65, or Series 82 licenses</li>
                            </ul>
                        td #{contact.AccreditationQuestion15Text}
                    tr 
                        td(class='title') Holder Details 
                    tr 
                        td Aggregate Investment Shares
                        td <i>(sum of all account shares)</i>
                    tr 
                        td Aggregate Investment Value
                        td <i>(sum of all account shares by reit x reit pps :  round to 2nd decimal)</i>
                    tr 
                        td(class='title') Account Details 
                    tr 
                        td Account ID
                        td #{contact.AccountId}
                    tr 
                        td Investment Reit ID
                        td #{contact.InvestmentReitId}
                    tr 
                        td Dividends Reinvesting
                        td #{contact.InvestmentReinvestDividends}
                    tr 
                        td Investment Value/Shares
                        td <i>(Shares x current price per share : Round 2nd decimal)</i>
                    tr 
                        td Shares
                        td #{contact.InvestmentShares}
                    tr 
                        td(class='title') Investment Account
                    tr 
                        td Type
                        td #{contact.AccountTypeName}
                    tr 
                        td Name
                        td #{contact.AccountName}
                    tr 
                        td Email
                        td #{contact.AccountEmail}
                    tr 
                        td Street
                        td #{contact.AccountAddressStreet}
                    tr 
                        td City
                        td #{contact.AccountAddressCity}
                    tr 
                        td Country
                        td #{contact.AccountAddressCountryName}
                    tr 
                        td State
                        td #{contact.AccountAddressStateAbbr}
                    tr 
                        td Zip Code
                        td #{contact.AccountAddressZip}
                    tr 
                        td Phone Number
                        td #{contact.AccountPhone}
                    tr 
                        td Subject to Backup Tax Withholding
                        td #{contact.AccountBackupWithHolding}
                    tr 
                        td Total Asset Value
                        td <i>(Ask how to calculate)</i>
                    tr 
                        td(class='title') Custodian Details
                    tr 
                        td Custodian ID
                        td #{contact.AccountCustodianId}
                    tr 
                        td Custodian Name
                        td #{contact.AccountName}
                    tr 
                        td Custodian Email
                        td #{contact.AccountEmail}
                    tr 
                        td Custodian Street
                        td #{contact.AccountAddressStreet}
                    tr 
                        td Custodian City
                        td #{contact.AccountAddressCity}
                    tr 
                        td Custodian Country
                        td #{contact.AccountAddressCountryName}
                    tr 
                        td Custodian State
                        td #{contact.AccountAddressStateAbbr}
                    tr 
                        td Custodian Zip Code
                        td #{contact.AccountAddressZip}
                    tr 
                        td Custodian Phone Number
                        td #{contact.AccountPhone}

            div(class='body-button')
                div(class='body-button-back')
                    a(href=`/modiv-contacts` class='body-button-back-link') Back
                div(class='body-button-logout')
                    a(href=`/logout` class='body-button-signout-link') Logout